<a href="https://colab.research.google.com/github/Anthony-Ng-20/City_Prioritisation_For_Food_Delivery/blob/main/City_Prioritisation_For_Food_Delivery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Which UK cities to enter for a food delivery company

This short insight investigates the top cities to enter in the U.K. for a hypothetical food delivery company. 

Suggestions are split by within England, Scotland, Wales and Northern Ireland.

# Summary of Findings
(For the convenience of the reader, visulisations are placed here but they need to be run after the code section)
*   find the top 10 locations to enter in England, 5 Wales, 5 Scotland, 5 Northern Ireland
*   closest city to

# Method of estimation

There are multiple factors for a company to consider when picking the right location to enter the food delivery business.
Some factors include addressable market size, availability of drivers, and regulations. 

For this analysis, we mainly focus on estimating the market size since this would be the main factor affecting the potential economic gain for the company. 

We estimated the market size of different cities within the U.K. by leveraging open-source population data, takeaway spending surveyed by KPMG, and heuristics.

Specifically, we calculated estimations for market size by the following formula:
Age group population * % of the population that uses 3rd party food delivery app* approx. spending on takeaway per person per year



*   Location granularity - there are different ways to segment population area, which is the best segmentations to follow? Higher population area could be prioritise, areas can be filtered by minimum population size
*   Behaviours are hard to predict and there are limited data points. For an existing delivery company, we might be able to

# Other lessons learnt



*   Nomis datasets are useful free resources for market sizing in the U.K.. However, it might be a bit difficult to work with since areas within the U.K. might be split differently across different datasets.


*   There are different models to calculate distance between two points on Earth.

# Further works

Enhance the average takeaway spending, (this could be with a regression model, K nearest neighbour)

Additional assumptions on the behaviour of the target populaion.

*   % of population that is tech-savvy (i.e. knows how to use food delivery apps/ internet)
*   % of population that uses food delivery apps
*   % of food delivery spend out of the total food takeaway pending

# Data Sources

[KPMG average takeaway spend data](https://home.kpmg/uk/en/home/insights/2021/07/how-restaurant-operators-can-take-advantage-of-the-takeaway-boom.html) 

[Population data from NOMIS](https://www.nomisweb.co.uk/query/select/getdatasetbytheme.asp?opt=3&theme=&subgrp=)

# Code & Working

## Set-up

In [1]:
#Install packages 
!pip install keplergl # for geo-visulisations
!pip install requests # for API

Collecting keplergl
  Downloading keplergl-0.3.2.tar.gz (9.7 MB)
     |████████████████████████████████| 9.7 MB 4.4 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting geopandas>=0.5.0
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 42.8 MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from keplergl) (1.1.5)
Requirement already satisfied: ipywidgets<8,>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from keplergl) (7.6.5)
Requirement already satisfied: Shapely>=1.6.4.post2 in /usr/local/lib/python3.7/dist-packages (from keplergl) (1.8.0)
Collecting traittypes>=0.2.1
  Downloading traittypes-0.2.1-py2.py3-none-any.whl (8.6 kB)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 26.2 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 47 kB/s
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (1.15.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (2021.10.8)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.5.0->keplergl) (21.2.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (4.10.1)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.5.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (1.0.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (3.5.2)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8,>=7.0.0->keplergl) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (2.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.0.0->keplergl) (4.9.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->keplergl) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->keplergl) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->keplergl) (1.19.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipywidgets<8,>=7.0.0->keplergl) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (5.3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (2.11.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.12.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.0.0->keplergl) (22.3.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (2.0.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (4.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.0.0->keplergl) (3.0.6)
Building wheels for collected packages: keplergl
  Building wheel for keplergl (PEP 517) ... done
  Created wheel for keplergl: filename=keplergl-0.3.2-py2.py3-none-any.whl size=17922343 sha256=94fc84b78c51dee8f8955ca8b61452e2f3d2b3c0f508c939a6714f454159aedd
  Stored in directory: /root/.cache/pip/wheels/4b/19/e5/0852b7888ee350e9c57087ccc61eeab9daf50f5caac9c690ec
Successfully built keplergl
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, traittypes, geopandas, keplergl
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 keplergl-0.3.2 munch-2.5.0 pyproj-3.2.1 traittypes-0.2.1
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [2]:
#Import packages 
from google.colab import output
output.enable_custom_widget_manager() # enable 3rd party widget 

from keplergl import KeplerGl # KeplerGl visualisation tool
from geopy.geocoders import Nominatim

import pandas as pd
import re 
import string
import requests
import geopy.distance
import numpy as np

pd.options.display.float_format = '{:20,.2f}'.format

In [3]:
import math

## Load data and inspect rows

In [4]:
def read_fixed_format(path, n_rows):
  df = pd.read_excel(path, 
                        sheet_name = "Data", 
                        header = None,
                        names = ["location_name",
                                  "all_ages",
                                  "age_18",
                                  "age_19",
                                  "aged_20_24",
                                  "aged_25_29",
                                  "aged_30_34",
                                  "aged_35_39",
                                  "aged_40_44",
                                  "aged_45_49",
                                  "aged_50_54",
                                  "aged_55_59",
                                  "aged_60_64",
                                  "aged_65_69",
                                  "aged_70_74",
                                  "aged_75_79",
                                  "aged_80_84",
                                  "aged_85+"
                                  ],
                        usecols = "A:R",
                        skiprows = 7,
                        nrows = n_rows)
  return df

In [5]:
# providing raw url to download csv from github
avg_spend_csv        = '/content/drive/MyDrive/Personal_Project/UK_City_Average_Spend_On_Takeaways.csv' # average takeaway spend from KPMG research

# Population data of England, Wales, Scotland, Northern Ireland
major_city_xlsx       = '/content/drive/MyDrive/Personal_Project/nomis_major_cities_towns_england_wales_2020_data.xlsx' # from national statistic in 2020

england_xlsx       = '/content/drive/MyDrive/Personal_Project/nomis_england_pop_estimate_2020_data.xlsx'
scotland_xlsx      = '/content/drive/MyDrive/Personal_Project/nomis_scotland_pop_estimate_2020_data.xlsx'
wales_xlsx         = '/content/drive/MyDrive/Personal_Project/nomis_wales_pop_estimate_2020_data.xlsx'
n_ireland_xlsx     = '/content/drive/MyDrive/Personal_Project/nomis_northern_ireland_pop_estimate_2020_data.xlsx'
pop_den_2019       = '/content/drive/MyDrive/Personal_Project/uk_population_density_mid_2019.xlsx'


spending   = pd.read_csv(avg_spend_csv,dtype={
                     'City': str,
                     'Latitude': float,
                     'Longitude': float,
                     'Average_Spend_2019': int,
                     'Average_Spend_2021': int,
                 })

major_cities = read_fixed_format(major_city_xlsx,112)
major_cities = major_cities.rename(columns={"local_authority":"major_cities_towns"})

england = read_fixed_format(england_xlsx,309)
scotland = read_fixed_format(scotland_xlsx,32)
wales = read_fixed_format(wales_xlsx,22)
n_ireland = read_fixed_format(n_ireland_xlsx,11)

pop_density = pd.read_excel(pop_den_2019, 
                        sheet_name = "data", 
                        header = None,
                        names = ["la_name",
                                  "median_age",
                                  "population_density",
                                  "population_density_decile"
                                  ],
                        usecols = "B:E",
                        skiprows = 2,
                        nrows = 368)

In [6]:
spending.head()

         City             Latitude  ...  Average_Spend_2021  Unnamed: 5
0     Belfast                54.61  ...                 383     103.79%
1  Birmingham                52.49  ...                 628     172.05%
2    Brighton                50.83  ...                 431     118.08%
3     Bristol                51.45  ...                 598     188.05%
4     Cardiff                51.48  ...                 431     224.48%

[5 rows x 6 columns]

In [7]:
major_cities.head()

  location_name  all_ages  age_18  ...  aged_75_79  aged_80_84  aged_85+
0      Barnsley     99642     913  ...        3754        2528      2313
1      Basildon    118145    1374  ...        3129        2311      2277
2   Basingstoke    115111    1198  ...        3291        2315      2030
3          Bath    105730    1453  ...        3289        2533      2782
4       Bedford     93767    1094  ...        2709        2128      2609

[5 rows x 18 columns]

In [8]:
england.head()

    location_name  all_ages  age_18  ...  aged_75_79  aged_80_84  aged_85+
0      Darlington    107402    1111  ...        4132        3226      2963
1   County Durham    533149    5452  ...       21669       15151     12566
2      Hartlepool     93836     979  ...        3154        2582      2412
3   Middlesbrough    141285    1579  ...        4246        3274      2815
4  Northumberland    323820    3237  ...       15486       10638      9896

[5 rows x 18 columns]

In [9]:
scotland.head()

      location_name  all_ages  age_18  ...  aged_75_79  aged_80_84  aged_85+
0     Aberdeen City    229060    2116  ...        6344        5066      4831
1     Aberdeenshire    260780    2568  ...        9567        6670      5792
2             Angus    115820    1145  ...        5391        3809      3578
3   Argyll and Bute     85430     834  ...        4364        3054      2592
4  Clackmannanshire     51290     522  ...        2113        1296      1047

[5 rows x 18 columns]

In [10]:
wales.head()

      location_name  all_ages  age_18  ...  aged_75_79  aged_80_84  aged_85+
0  Isle of Anglesey     70440     679  ...        3752        2566      2403
1           Gwynedd    125171    1379  ...        5611        3848      4176
2             Conwy    118184    1123  ...        6364        4597      5172
3      Denbighshire     96664    1036  ...        4717        3200      2670
4        Flintshire    156847    1655  ...        6644        4481      3713

[5 rows x 18 columns]

In [11]:
n_ireland.head()

                          location_name  all_ages  ...  aged_80_84  aged_85+
0               Antrim and Newtownabbey    143756  ...        3368      2997
1  Armagh City, Banbridge and Craigavon    217232  ...        4630      3994
2                               Belfast    342560  ...        7391      7435
3              Causeway Coast and Glens    144943  ...        3594      3221
4               Derry City and Strabane    151109  ...        3011      2374

[5 rows x 18 columns]

In [12]:
pop_density.head()

                  la_name  ...  population_density_decile
0           Tower Hamlets  ...                         10
1               Islington  ...                         10
2                 Hackney  ...                         10
3  Kensington and Chelsea  ...                         10
4             Westminster  ...                         10

[5 rows x 4 columns]

## Determine the closest city with takeaway spending data

In [13]:
# Function to return longtitude, latitude co-ordinates of the cities contained in the dataframe

def location(df):
  # Get list of cities
  city_name = df['location_name']
  city_country = city_name + ', United Kingdom'

  # Get longtitude and latitude for cities through API

  geolocator = Nominatim(user_agent="PersonalProject")
  city_location = []

  for city in city_country:
    city_location.append(geolocator.geocode(city))

  city_location

  return city_location

In [14]:
# function to return information on the closest city with average takeaway spending, given the co-ordinates of the city/local authority in question
def closest_city(co_ord):
  temp_ref_city_list = []
  temp_dist_list = []
  closest_city_info =[]

  for i in range(len(spending)):
    temp_ref_city_list.append(
        [
        spending['City'][i],
        (spending['Latitude'][i],spending['Longitude'][i]),
        spending['Average_Spend_2021'][i],
        spending['Average_Spend_2019'][i]
        ]
    )

  # Determine the distance between the city in question and other cities with takeaway spending information
  for i in range(len(temp_ref_city_list)):
    temp_dist_list.append(geopy.distance.vincenty(co_ord, temp_ref_city_list[i][1]).km)


  index_min = np.argmin(temp_dist_list)

  # Return the name, co-ordinates, the distance ,and average takeaway spending 

  closest_city_info = [
                      temp_ref_city_list[index_min][0], # city name
                      temp_ref_city_list[index_min][1], # city co-ordinates
                      temp_ref_city_list[index_min][2], # takeaway spending 2021
                      temp_ref_city_list[index_min][3], # takeaway spending 2019
                      temp_dist_list[index_min], # shortest distance value

  ]

  return closest_city_info

In [15]:
# function to add approximated takeaway spending per person to the dataframe that contains local authority informaton
def append_avg_takeaway_spend(df):
  
  # Temp list to store avg spend
  closest_city_spend_2021 = []
  closest_city_spend_2019 = []
  proxy_city = []
  city_coord = []
  temp_location = []
  
  # temp list to extract location info
  temp_location = location(df)

  # store average spend to temp lists
  for i in range(len(temp_location)):
      closest_city_spend_2021.append(
          closest_city(temp_location[i][1])[2]
      )

      closest_city_spend_2019.append(
          closest_city(temp_location[i][1])[3]
      )

      proxy_city.append(
          closest_city(temp_location[i][1])[0]
      )

      city_coord.append(temp_location[i][1])
  # append new columns to dataframe

  df['estimated_avg_spend_2021'] = closest_city_spend_2021
  df['estimated_avg_spend_2019'] = closest_city_spend_2019
  df['proxy_city'] = proxy_city
  df['city_coord'] = city_coord
  return df

## Finding out the cities/ areas to enter

In [33]:
england[(england['location_name']=='London')|england['location_name']=='london']

Empty DataFrame
Columns: [location_name, all_ages, age_18, age_19, aged_20_24, aged_25_29, aged_30_34, aged_35_39, aged_40_44, aged_45_49, aged_50_54, aged_55_59, aged_60_64, aged_65_69, aged_70_74, aged_75_79, aged_80_84, aged_85+]
Index: []

In [34]:
major_cities[major_cities['location_name']=='London']

   location_name  all_ages  age_18  ...  aged_75_79  aged_80_84  aged_85+
53        London   8960924   92359  ...      194977      149976    151405

[1 rows x 18 columns]

In [35]:
# London is split to different boroughs witin the NOMIS dataset for all local authorities in the U.K.,
# hence we shall append the record for London from the major cities and towns (England and Wales) table.

temp_df = major_cities[major_cities['location_name']=='London'].copy()
england_2 = pd.concat([england, temp_df])
#england[(england['local_authority']=='London')|england['local_authority']=='london']

In [36]:
england_2.reset_index(drop=True, inplace=True)
england_2

                 location_name  all_ages  ...  aged_80_84  aged_85+
0                   Darlington    107402  ...        3226      2963
1                County Durham    533149  ...       15151     12566
2                   Hartlepool     93836  ...        2582      2412
3                Middlesbrough    141285  ...        3274      2815
4               Northumberland    323820  ...       10638      9896
..                         ...       ...  ...         ...       ...
305                     Mendip    116288  ...        3687      3731
306                  Sedgemoor    123446  ...        3992      3965
307             South Somerset    168696  ...        5933      5847
308  Somerset West and Taunton    155421  ...        5482      6139
309                     London   8960924  ...      149976    151405

[310 rows x 18 columns]

In [37]:
# Append the approximated avg spend 

england_list = append_avg_takeaway_spend(england_2)
scotland_list = append_avg_takeaway_spend(scotland)
wales_list = append_avg_takeaway_spend(wales)

In [21]:
# District names in Northern Ireland are problematic when looking up their  
# co-ordinates via the API

n_ireland_co_ord = location(n_ireland)
n_ireland_co_ord

[Location(The White House, 28-34, Whitehouse Park, Rushpark, Merville Garden Village, Newtownabbey, County Antrim, Northern Ireland, BT37 9SQ, United Kingdom, (54.65739255, -5.9072795495719195, 0.0)),
 None,
 Location(Belfast, County Antrim, Northern Ireland, BT1 5GS, United Kingdom, (54.596391, -5.9301829, 0.0)),
 Location(Causeway Coast and Glens Heritage Trust, Main Street, Armoy, County Antrim, Northern Ireland, BT53 8RH, United Kingdom, (55.130595400000004, -6.327745858099967, 0.0)),
 Location(Derry City and Strabane District Council, Derry Road, Strabane, County Tyrone, Northern Ireland, BT82 8AQ, United Kingdom, (54.8351485, -7.457994790640386, 0.0)),
 Location(Fermanagh and Omagh District Council, Northern Ireland, United Kingdom, (54.4413243, -7.7567616226758105, 0.0)),
 None,
 None,
 None,
 None,
 None]

In [22]:
# Belfast is the only city in the Northern Ireland that we have takeaway spending data
# We will use this city as the proxy for all districts in Northern Ireland

n_ireland_list = n_ireland
n_ireland_list['estimated_avg_spend_2021'] = int(spending[spending['City']=='Belfast']['Average_Spend_2021'])
n_ireland_list['estimated_avg_spend_2019'] = int(spending[spending['City']=='Belfast']['Average_Spend_2019'])

## Top locations to enter in England

In [39]:
england_list

# Food delivery app usage as found by KPMG 
app_usage_18_to_34 = 0.54
app_usage_55_plus = 0.20
app_usage_avg = 0.34

england_list['aged_18_to_34'] = (england_list['age_18']
                                 + england_list['age_19']
                                 + england_list['aged_20_24']
                                 + england_list['aged_25_29']
                                 + england_list['aged_30_34'])

england_list['aged_35_to_54'] = (england_list['aged_35_39']
                                 + england_list['aged_40_44']
                                 + england_list['aged_45_49']
                                 + england_list['aged_50_54'])

england_list['aged_55_to_64'] = (england_list['aged_55_59']
                                 + england_list['aged_60_64'])

approx_market_size_2021 = (
                           england_list['aged_18_to_34']*app_usage_18_to_34
                           + england_list['aged_35_to_54']*app_usage_avg
                           + england_list['aged_55_to_64']*app_usage_55_plus
                           )*england_list['estimated_avg_spend_2021']

approx_market_size_2019 = (
                           england_list['aged_18_to_34']*app_usage_18_to_34
                           + england_list['aged_35_to_54']*app_usage_avg
                           + england_list['aged_55_to_64']*app_usage_55_plus
                          )*england_list['estimated_avg_spend_2019']

england_list['approx_market_size_2021'] = pd.to_numeric(approx_market_size_2021,
                                                        downcast='integer')
                                           

england_list['approx_market_size_2019'] = pd.to_numeric(approx_market_size_2019,
                                                        downcast='integer')

In [40]:
england_list = england_list.sort_values(by='approx_market_size_2021', ascending = False)

In [41]:
england_list.reset_index(drop=True, inplace=True)

england_list.head(25)

             location_name  ...  approx_market_size_2019
0                   London  ...         1,599,176,443.80
1               Birmingham  ...           105,309,836.50
2               Manchester  ...            59,112,760.86
3               Nottingham  ...            29,468,853.96
4                Leicester  ...            28,081,051.44
5          Buckinghamshire  ...            80,433,424.20
6                    Leeds  ...            68,955,196.80
7   North Northamptonshire  ...            22,796,507.50
8         Bristol, City of  ...            41,927,848.44
9                   Newham  ...            68,730,982.80
10                 Lambeth  ...            66,651,888.60
11              Wandsworth  ...            66,601,794.60
12                  Barnet  ...            65,839,703.40
13               Southwark  ...            64,094,182.80
14                 Croydon  ...            62,904,747.00
15           County Durham  ...            60,515,935.58
16                   Derby  ...            18,188,995.24
17                Coventry  ...            38,316,137.80
18                Lewisham  ...            56,931,237.60
19                  Ealing  ...            56,648,461.80
20                   Brent  ...            56,361,435.60
21               Wiltshire  ...            33,490,901.40
22                 Hackney  ...            55,393,462.20
23                  Camden  ...            55,062,910.80
24               Islington  ...            54,564,385.80

[25 rows x 27 columns]

England represents the largest market to the U.K. since it contains 56 million people out 67 million people in the U.K. (in 2021). This is about 83% of the total population.

Above is the top 20 districts to enter in England. Most notably in the list is that London is missing. Since we are working with local authorities data, London is actually broken by the different councils within London. For example, Newham is actually a London Borough.

Another factor to consider is also population density. The size of district varies significantly. It is more sensible to enter into an area where there is a relatively high population density for a number of reasons. Higher population density could mean you have more reliable supplies of drivers and restuarants. It could also mean deliveries would be shorter in duration because eaters might live closer to the restuarants and distances between subsequent deliveries might be shorter which helps the driver to be more efficient.

In [42]:
# London Boroughs

london_boroughs = ['Barking and Dagenham',
                   'Barnet',
                   'Bexley',
                   'Brent',
                   'Bromley',
                   'Camden',
                   'Croydon',
                   'Ealing',
                   'Enfield',
                   'Greenwich',
                   'Hackney',
                   'Hammersmith and Fulham',
                   'Haringey',
                   'Harrow',
                   'Havering',
                   'Hillingdon',
                   'Hounslow',
                   'Islington',
                   'Kensington and Chelsea',
                   'Kingston upon Thames',
                   'Lambeth',
                   'Lewisham',
                   'Merton',
                   'Newham',
                   'Redbridge',
                   'Richmond upon Thames',
                   'Southwark',
                   'Sutton',
                   'Tower Hamlets',
                   'Waltham Forest',
                   'Wandsworth',
                   'Westminster']

london_boroughs = pd.DataFrame({'london_boroughs':london_boroughs})

In [43]:
london_boroughs

           london_boroughs
0     Barking and Dagenham
1                   Barnet
2                   Bexley
3                    Brent
4                  Bromley
5                   Camden
6                  Croydon
7                   Ealing
8                  Enfield
9                Greenwich
10                 Hackney
11  Hammersmith and Fulham
12                Haringey
13                  Harrow
14                Havering
15              Hillingdon
16                Hounslow
17               Islington
18  Kensington and Chelsea
19    Kingston upon Thames
20                 Lambeth
21                Lewisham
22                  Merton
23                  Newham
24               Redbridge
25    Richmond upon Thames
26               Southwark
27                  Sutton
28           Tower Hamlets
29          Waltham Forest
30              Wandsworth
31             Westminster

In [44]:
england_list_w_density = pd.merge(england_list, 
                        pop_density,
                        left_on='location_name', 
                        right_on='la_name',
                        how='left')

england_list_w_density = pd.merge(england_list_w_density, 
                        london_boroughs,
                        left_on='location_name', 
                        right_on='london_boroughs',
                        how='left')

england_list_w_density['london_boroughs'] = england_list_w_density['london_boroughs'].astype(str)


england_list_w_density['london_boroughs'] = np.where(england_list_w_density['london_boroughs']=="nan",False,True)

england_top_list = england_list_w_density[(england_list_w_density['london_boroughs']==False) & 
                                          ((england_list_w_density['population_density_decile'] >= 9) | np.isnan(england_list_w_density['population_density_decile'])) ].head(20)

In [45]:
england_top_list

             location_name  ...  london_boroughs
0                   London  ...            False
1               Birmingham  ...            False
2               Manchester  ...            False
3               Nottingham  ...            False
4                Leicester  ...            False
7   North Northamptonshire  ...            False
8         Bristol, City of  ...            False
16                   Derby  ...            False
17                Coventry  ...            False
32   West Northamptonshire  ...            False
44     Newcastle upon Tyne  ...            False
45                Sandwell  ...            False
47                 Salford  ...            False
50               Liverpool  ...            False
55                  Dudley  ...            False
61          Stoke-on-Trent  ...            False
63                 Walsall  ...            False
68                   Luton  ...            False
69                 Norwich  ...            False
70           Wolverhampton  ...            False

[20 rows x 32 columns]

In [48]:
# We don't have population density from our existing table for North Northamptonshire and West Northamptonshire.
# A quick search on Google indicate that the density for all of Northamptonshire is 316 per sq km which is significantly lower than the most dense cities (9th, 10th deciles).
# We therefore will remove the 2 rows from the dataframe.

england_top_list_filtered = england_top_list.drop([7,32])

england_top_10 = england_top_list_filtered.head(10)
england_top_10.reset_index(drop=True, inplace=True)
england_top_10

         location_name  all_ages  ...  population_density_decile  london_boroughs
0               London   8960924  ...                        nan            False
1           Birmingham   1140525  ...                       9.00            False
2           Manchester    555741  ...                      10.00            False
3           Nottingham    337098  ...                      10.00            False
4            Leicester    354036  ...                      10.00            False
5     Bristol, City of    465866  ...                       9.00            False
6                Derby    256814  ...                       9.00            False
7             Coventry    379387  ...                       9.00            False
8  Newcastle upon Tyne    306824  ...                       9.00            False
9             Sandwell    329042  ...                       9.00            False

[10 rows x 32 columns]

## Use GeoNames to get location

In [49]:
england_top_10

         location_name  all_ages  ...  population_density_decile  london_boroughs
0               London   8960924  ...                        nan            False
1           Birmingham   1140525  ...                       9.00            False
2           Manchester    555741  ...                      10.00            False
3           Nottingham    337098  ...                      10.00            False
4            Leicester    354036  ...                      10.00            False
5     Bristol, City of    465866  ...                       9.00            False
6                Derby    256814  ...                       9.00            False
7             Coventry    379387  ...                       9.00            False
8  Newcastle upon Tyne    306824  ...                       9.00            False
9             Sandwell    329042  ...                       9.00            False

[10 rows x 32 columns]

In [67]:
england_list_mapping = england_top_10[['location_name','city_coord','approx_market_size_2021','approx_market_size_2019']].copy()

england_list_mapping['city_longitude'] = england_list_mapping['city_coord'].apply(lambda x: x[1])
england_list_mapping['city_latitude'] = england_list_mapping['city_coord'].apply(lambda x: x[0])

In [68]:
england_list_mapping

         location_name  ...        city_latitude
0               London  ...                51.51
1           Birmingham  ...                52.48
2           Manchester  ...                53.48
3           Nottingham  ...                52.95
4            Leicester  ...                52.64
5     Bristol, City of  ...                51.45
6                Derby  ...                52.92
7             Coventry  ...                52.41
8  Newcastle upon Tyne  ...                54.97
9             Sandwell  ...                52.52

[10 rows x 6 columns]

In [60]:
# Separate Salford from the original dataframe due to lable overlapping in the visualisation
england_list_mapping_2 = england_list_mapping[england_list_mapping['location_name']=='Salford'].copy()
#england_list_mapping.loc[9,'location_name'] = ''

In [61]:
england_list_mapping_2

Empty DataFrame
Columns: [location_name, city_coord, approx_market_size_2021, approx_market_size_2019, city_longitude, city_latitude]
Index: []

In [69]:
#map_1 = KeplerGl(height=800, data={"data_1": england_list_mapping, "data_2": england_list_mapping_2 })
map_1 = KeplerGl(height=800, data={"data_1": england_list_mapping}, config=config_1)
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'layers': [{'config': {'dataId': 'data_1', 'color': …

The above visualisation shows that the potential market size (2021) of London is significantly higher than all other cities in England. In fact, the estimated market size of takeaway spending on 3rd party delivery providers in London is **£1.81 billion**. This is **10 times** higher than the next biggest market, Birmingham (est. £181 million). 
<br><br>
As a potential next step, we should further investigate which boroughs of London should a hypothetical company enter first for further prioritisation since London is a huge market geographically and commercially. 
<br><br>

As a potential next step, we should further investigate which boroughs of London should a hypothetical company enter first for further prioritisation since London is a huge market geographically and commercially.

In [65]:
config_1 = map_1.config

In [70]:
# Save config file
with open('hex_config.py', 'w') as f:
   f.write('config = {}'.format(map_1.config))

## Create the priority list


*   Maxmium average spend = city population * expected avg. spend per person for the city
*   Rank the city by the average spend

In [93]:
major_city['estimated_avg_spend_2021'] = closest_city_spend_2021
major_city['estimated_avg_spend_2019'] = closest_city_spend_2019

NameError: ignored

In [ ]:
major_city['target_population'] = major_city['Aged 25 to 49'] + major_city['Aged 50 to 64'] + major_city['Age 65']

In [ ]:
major_city['market_size_2021'] = major_city['target_population'] * major_city['estimated_avg_spend_2021'] 
major_city['market_size_2019'] = major_city['target_population'] * major_city['estimated_avg_spend_2019']

In [ ]:
major_city

    major town and city  All Ages  ...  market_size_2021  market_size_2019
0              Barnsley   99642.0  ...          21504590          30378636
1              Basildon  118145.0  ...          49345142          43595580
2           Basingstoke  115111.0  ...          34170912          23295424
3                  Bath  105730.0  ...          29758872          15824952
4               Bedford   93767.0  ...          38875837          34346130
..                  ...       ...  ...               ...               ...
107            Worthing  115319.0  ...          25765611          21820065
108                York  164934.0  ...          36518930          28272720
109             Cardiff  356425.0  ...          78801454          35104128
110             Newport  137563.0  ...          31517737          14040384
111             Swansea  185033.0  ...          40457108          18022656

[112 rows x 15 columns]

In [ ]:
major_city.sort_values(by='market_size_2021', ascending=False)[0:10]

   major town and city   All Ages  ...  market_size_2021  market_size_2019
53              London  8960924.0  ...        4036646922        3566307780
6           Birmingham  1159888.0  ...         367327248         213494340
50           Leicester   415584.0  ...         231317808          63048336
56          Manchester   566896.0  ...         211192848         109541118
14             Bristol   580199.0  ...         185765710          98785110
64          Nottingham   320536.0  ...         170222587          46396129
29               Derby   264430.0  ...         149584726          40771042
26            Coventry   388793.0  ...         126437124          73486545
49               Leeds   516298.0  ...         112805714          87333456
79           Sheffield   557039.0  ...         112755910         159285564

[10 rows x 15 columns]

In [ ]:
major_city.sort_values(by='market_size_2019', ascending=False)[0:10]

   major town and city   All Ages  ...  market_size_2021  market_size_2019
53              London  8960924.0  ...        4036646922        3566307780
6           Birmingham  1159888.0  ...         367327248         213494340
79           Sheffield   557039.0  ...         112755910         159285564
52           Liverpool   589774.0  ...         108200428         117894686
56          Manchester   566896.0  ...         211192848         109541118
14             Bristol   580199.0  ...         185765710          98785110
73             Reading   257653.0  ...         108104458          95508420
49               Leeds   516298.0  ...         112805714          87333456
54               Luton   222043.0  ...          91871373          81166770
26            Coventry   388793.0  ...         126437124          73486545

[10 rows x 15 columns]

In [ ]:
major_city.sort_values(by='All Ages', ascending=False)[0:15]

     major town and city   All Ages  ...  market_size_2021  market_size_2019
53                London  8960924.0  ...        4036646922        3566307780
6             Birmingham  1159888.0  ...         367327248         213494340
52             Liverpool   589774.0  ...         108200428         117894686
14               Bristol   580199.0  ...         185765710          98785110
56            Manchester   566896.0  ...         211192848         109541118
79             Sheffield   557039.0  ...         112755910         159285564
49                 Leeds   516298.0  ...         112805714          87333456
50             Leicester   415584.0  ...         231317808          63048336
26              Coventry   388793.0  ...         126437124          73486545
12              Bradford   358573.0  ...          78637762          60880848
109              Cardiff   356425.0  ...          78801454          35104128
64            Nottingham   320536.0  ...         170222587          46396129
60   Newcastle upon Tyne   290688.0  ...          82717707          72035141
48    Kingston upon Hull   287705.0  ...          65999248          51096192
92        Stoke-on-Trent   278365.0  ...         100162752          51952232

[15 rows x 15 columns]

In [ ]:
major_city[major_city['major town and city']=='Oldham']

   major town and city  All Ages  ...  market_size_2021  market_size_2019
66              Oldham  121852.0  ...          42837408          22218828

[1 rows x 15 columns]

## Takeaways

London and Birmingham being the most populated cities in the U.K. are the obvious top choices to launch a takeaway business in the U.K.

In [ ]:
index_min = np.argmin(temp_dist_list)

In [ ]:
index_min
temp_dist_list[index_min]

18.888252568151657

In [ ]:


# Function to find the closest city to a given co-ordinate of a city

def cloest_ref_city(city_location):

  # Offload reference city names and co-ordinates for distance calculations
  temp_ref_city_coord = []
  temp_ref_city_name = []

  for i in range(len(spending)):
    temp_ref_city_coord.append((spending['Latitude'][i],spending['Longitude'][i]))
    temp_ref_city_name.append(spending['City'][i])

for i in range(len(ref_city_list)):
  temp_dist_list.append([ref_city_list[i][0], geopy.distance.vincenty(city_location[0][1], ref_city_list[i][1]).km ])

In [ ]:
# Function to determine which reference city is the closest, given the name of closest_city 
# List of to-dos:
# 1) get full list of name -> add long and lat to the temp df -> compare long and lat -> calculate distance to the closest reference city by function  -> do the matchign


# Get list of cities
city_name = major_city['major_town_and_city']
city_country = city_name + ', United Kingdom'

# Get longtitude and latitude for cities through API

geolocator = Nominatim(user_agent="PersonalProject")
city_location = []

for city in city_country:
  city_location.append(geolocator.geocode(city))

# Calculate all the distance between the city to the reference cities

## Combine t

AttributeError: ignored

In [ ]:
city_location[0][1]

(53.5527719, -1.4827755)

In [ ]:
temp_dist_list

[['Belfast', 313.5812837983668],
 ['Birmingham', 121.57570710892323],
 ['Brighton', 316.5452222712779],
 ['Bristol', 245.24284987540761],
 ['Cardiff', 257.6232910159793],
 ['Edinburgh', 288.879393429476],
 ['Glasgow', 312.7834851109451],
 ['Leeds', 27.997980712058432],
 ['Liverpool', 101.06927151236353],
 ['London', 245.45764502510968],
 ['Manchester', 51.11180180616133],
 ['Newcastle', 157.56563340709533],
 ['Norwich', 212.6197568051233],
 ['Nottingham', 70.66436355155084],
 ['Plymouth', 397.8891442068403],
 ['Sheffield', 18.888252568151657],
 ['Southampton', 294.1480665202492]]

In [ ]:
len(spending)

ref_city_list =[]

for record in range(len(spending)):
  temp = [spending['City'][record],(spending['Latitude'][record],spending['Longitude'][record])]
  ref_city_list.append(temp)

In [ ]:
ref_city_list

[['Belfast', (54.607868, -5.926437)],
 ['Birmingham', (52.489470999999995, -1.898575)],
 ['Brighton', (50.827778, -0.152778)],
 ['Bristol', (51.454514, -2.58791)],
 ['Cardiff', (51.481583, -3.17909)],
 ['Edinburgh', (55.953251, -3.1882669999999997)],
 ['Glasgow', (55.860916, -4.2514330000000005)],
 ['Leeds', (53.801277, -1.548567)],
 ['Liverpool', (53.400002, -2.983333)],
 ['London', (51.509865000000005, -0.118092)],
 ['Manchester', (53.483959, -2.244644)],
 ['Newcastle', (54.966667, -1.6)],
 ['Norwich', (52.630886, 1.297355)],
 ['Nottingham', (52.950001, -1.15)],
 ['Plymouth', (50.376289, -4.143841)],
 ['Sheffield', (53.383331000000005, -1.466667)],
 ['Southampton', (50.909698, -1.4043510000000001)]]

In [ ]:
temp[1]

(54.607868, -5.926437)

In [ ]:
city_location[2]

Location(Basingstoke, Hampshire, South East England, England, United Kingdom, (51.262826, -1.0861976, 0.0))

In [ ]:
list_test =[]

geolocator = Nominatim(user_agent="PersonalProject")
location = geolocator.geocode("London, United Kingdom")

list_test.append(location)

In [ ]:
list_test[0][1][0]

51.5073219

In [ ]:
coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

In [ ]:
geopy.distance.vincenty(coords_1, coords_2).km

279.35290160386563

In [ ]:
major_city

    major_town_and_city All_Ages  ... Aged_65+                     town_name
0              Barnsley   99,642  ...   19,050     Barnsley, United Kingdom
1              Basildon  118,145  ...   17,318     Basildon, United Kingdom
2           Basingstoke  115,111  ...   17,074  Basingstoke, United Kingdom
3                  Bath  105,730  ...   17,428         Bath, United Kingdom
4               Bedford   93,767  ...   15,387      Bedford, United Kingdom
..                  ...      ...  ...      ...                           ...
107            Worthing  115,319  ...   27,379     Worthing, United Kingdom
108                York  164,934  ...   26,552         York, United Kingdom
109             Cardiff  356,425  ...   50,782      Cardiff, United Kingdom
110             Newport  137,563  ...   22,515      Newport, United Kingdom
111             Swansea  185,033  ...   34,678      Swansea, United Kingdom

[112 rows x 9 columns]

In [ ]:
consolidated=pd.merge(
    major_city, 
    gb_auth, 
    how="left", 
    left_on="major_town_and_city", 
    right_on="city")

consolidated_R=pd.merge(
    gb_auth,
    major_city,
    how="left",
    left_on="city",
    right_on="major_town_and_city")

In [ ]:
consolidated['city'].isnull().sum()
consolidated_R['major_town_and_city'].isnull().sum()

2580

In [ ]:
consolidated_R.shape

(2680, 17)

In [ ]:
consolidated[consolidated['city'].isna()]

      major_town_and_city All_Ages  ... population population_proper
13               Bradford  358,573  ...        NaN               NaN
14      Brighton and Hove  245,504  ...        NaN               NaN
19              Cambridge  149,155  ...        NaN               NaN
25           Chesterfield   89,466  ...        NaN               NaN
38             Gloucester  148,167  ...        NaN               NaN
42                 Harlow   87,420  ...        NaN               NaN
62    Newcastle upon Tyne  290,688  ...        NaN               NaN
63   Newcastle-under-Lyme   79,527  ...        NaN               NaN
64            Northampton  230,070  ...        NaN               NaN
70           Peterborough  179,349  ...        NaN               NaN
88        Southend-on-Sea  184,708  ...        NaN               NaN
90              St Albans   88,448  ...        NaN               NaN
91              St Helens  105,454  ...        NaN               NaN
92              Stevenage   94,371  ...        NaN               NaN
105     Weston-Super-Mare   88,244  ...        NaN               NaN
112               Cardiff  356,425  ...        NaN               NaN
116               Swansea  185,033  ...        NaN               NaN

[17 rows x 17 columns]

In [ ]:
gb_auth[gb_auth["city"]=="St Alban"]

Empty DataFrame
Columns: [city, lat, lng, country, iso2, admin_name, capital, population, population_proper]
Index: []

In [ ]:

geolocator = Nominatim(user_agent="PersonalProject")
location = geolocator.geocode("London, United Kingdom")

print((location.latitude, location.longitude ))

(51.5073219, -0.1276474)

In [ ]:
#


temp_list = local_auth["local_authority"]
temp_long = []

for city in temp_list:
  temp_long.append(gb_auth[gb_auth["city"]==city]["lng"])

In [ ]:
consolidated.shape

(378, 17)

In [ ]:
pd.to_numeric(temp_long[0])

78   -1.5526
Name: lng, dtype: float64